:root {
  --font-recharge: "Recharge", sans-serif;
  --font-montero: "Montero", sans-serif;
  --font-blackjack: "Blackjack", sans-serif;
  --font-monotone: "Monotone", sans-serif;
  --font-baysan: "Baysan", sans-serif;
  --font-lobster: "Lobster", cursive;
}
