// Variables

$rainbow_bg: linear-gradient(
  -45deg,
  #ee0a21 20%,
  hsl(60, 95%, 49%),
  #20de26,
  #0004ff
);

// Mixin

@mixin apperance {
  outline: none;
  border: none;
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  @include flex-center();
  justify-content: space-between;
}
@mixin pseudo {
  position: absolute;
  content: "";
}
@mixin absolute-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin blindColor {
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
